In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('data_1.csv')
df.head()

,Unnamed: 0,price,address,rooms,area,kitchen_area,floor,renovation,deal_type,balcony,...,years_in_ownership,number_of_owners,energy_efficiency_class,power_supply,number_of_elevators,ventilation,freight_elevator,gas_supply,latitude,longitude
0,0,4500000,"Владивосток, Некрасовская улица, 52",1.0,22.6,3.0,3.0,Косметический,Свободная продажа,нет,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.122565,131.907848
1,1,10000000,"Владивосток, улица Нейбута, 139",3.0,75.4,5.0,6.0,Евро,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118957,131.968481
2,2,6650000,"Владивосток, улица Лесная, 3д",1.0,31.6,5.0,2.0,Отсутствует,Альтернатива,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.183735,131.925201
3,3,11000000,"Владивосток, улица Леонова, 54к",2.0,47.0,3.1,6.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.086209,131.854930
4,4,4900000,"Владивосток, Зелёный Бульвар, улица Зелёный Бу...",1.0,24.1,3.0,16.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118827,131.970732

In [40]:
def transform_renovation(value):
    if pd.isna(value):
        return np.random.choice([0, 1]) 
    elif value == "Отсутствует":
        return 0
    else:
        return 1

df['renovation'] = df['renovation'].apply(transform_renovation)

In [41]:
def transform_deal_type(value):
    if pd.isna(value):
        return np.random.choice([0, 1])  
    elif value == "Свободная продажа":
        return 1
    elif value == "Альтернатива":
        return 0
    else:
        return np.random.choice([0, 1])  

df['deal_type'] = df['deal_type'].apply(transform_deal_type)

In [42]:
def transform_balcony(value):
    if pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    elif value == "нет":
        return 0
    else:
        return 1

df['balcony'] = df['balcony'].apply(transform_balcony)

In [43]:
def transform_trash_chute(value):
    if pd.isna(value) and np.random.rand() < 0.4:
        return np.nan
    elif pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    else:
        return 1 

df['trash_chute'] = df['trash_chute'].apply(transform_trash_chute)

In [44]:
df['trash_chute'].unique()

array([ 1., nan,  0.])

In [45]:
df['trash_chute'].unique()

array([ 1., nan,  0.])

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               120 non-null    int64
 1   price                    120 non-null    int64
 2   address                  120 non-null    object
 3   rooms                    101 non-null    float64
 4   area                     107 non-null    float64
 5   kitchen_area             89 non-null     float64
 6   floor                    107 non-null    float64
 7   renovation               120 non-null    int64
 8   deal_type                120 non-null    int64
 9   balcony                  120 non-null    int64
 10  trash_chute              83 non-null     float64
 11  Год постройки            107 non-null    float64
 12  Материал стен            117 non-null    object
 13  Серия дома               43 non-null     object
 14  Количество этажей        116 non-null    float64
 15  Лифт                     48 non-null     object
 16  Тип перекрытий           102 non-null    object
 17  Тип фундамента           57 non-null     object
 18  Горячее водоснабжение    78 non-null     object
 19  Количество балконов      84 non-null     float64
 20  Количество квартир       28 non-null     float64
 21  Холодное водоснабжение   37 non-null     object
 22  Теплоснабжение           19 non-null     object
 23  Водоотведение            4 non-null      object
 24  Количество подъездов     1 non-null      float64
 25  Жилая                    4 non-null      object
 26  years_in_ownership       3 non-null      object
 27  number_of_owners         1 non-null      float64
 28  energy_efficiency_class  17 non-null     object
 29  power_supply             9 non-null      object
 30  number_of_elevators      5 non-null      float64
 31  ventilation              2 non-null      object
 32  freight_elevator         2 non-null      object
 33  gas_supply               1 non-null      object
 34  latitude                 111 non-null    float64
 35  longitude                111 non-null    float64
dtypes: float64(14), int64(5), object(17)
memory usage: 33.9+ KB

In [56]:
if 'balcony' in df.columns and 'количество балконов' in df.columns:
    df.loc[(df['balcony'] == 0) & (df['количество балконов'].notna()) & (df['количество балконов'] != 0), 'balcony'] = 1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               120 non-null    int64
 1   price                    120 non-null    int64
 2   address                  120 non-null    object
 3   rooms                    101 non-null    float64
 4   area                     107 non-null    float64
 5   kitchen_area             89 non-null     float64
 6   floor                    107 non-null    float64
 7   renovation               105 non-null    object
 8   deal_type                34 non-null     object
 9   balcony                  20 non-null     object
 10  trash_chute              37 non-null     object
 11  Год постройки            107 non-null    float64
 12  Материал стен            117 non-null    object
 13  Серия дома               43 non-null     object
 14  Количество этажей        116 non-null    float64
 15  Лифт                     48 non-null     object
 16  Тип перекрытий           102 non-null    object
 17  Тип фундамента           57 non-null     object
 18  Горячее водоснабжение    78 non-null     object
 19  Количество балконов      84 non-null     float64
 20  Количество квартир       28 non-null     float64
 21  Холодное водоснабжение   37 non-null     object
 22  Теплоснабжение           19 non-null     object
 23  Водоотведение            4 non-null      object
 24  Количество подъездов     1 non-null      float64
 25  Жилая                    4 non-null      object
 26  years_in_ownership       3 non-null      object
 27  number_of_owners         1 non-null      float64
 28  energy_efficiency_class  17 non-null     object
 29  power_supply             9 non-null      object
 30  number_of_elevators      5 non-null      float64
 31  ventilation              2 non-null      object
 32  freight_elevator         2 non-null      object
 33  gas_supply               1 non-null      object
 34  latitude                 111 non-null    float64
 35  longitude                111 non-null    float64
dtypes: float64(13), int64(2), object(21)
memory usage: 33.9+ KB

In [49]:
if 'Лифт' in df.columns:
    df['Лифт'] = df['Лифт'].apply(lambda x: 1 if x == 'есть' else x)

In [50]:
df['Тип перекрытий'].unique()

array(['Железобетонный', nan, 'Монолитный', 'Смешанный', 'Иное',
       'Деревянный'], dtype=object)

In [58]:
df

,Unnamed: 0,price,address,rooms,area,kitchen_area,floor,renovation,deal_type,balcony,...,years_in_ownership,number_of_owners,energy_efficiency_class,power_supply,number_of_elevators,ventilation,freight_elevator,gas_supply,latitude,longitude
0,0,4500000,"Владивосток, Некрасовская улица, 52",1.0,22.6,3.0,3.0,Косметический,Свободная продажа,нет,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.122565,131.907848
1,1,10000000,"Владивосток, улица Нейбута, 139",3.0,75.4,5.0,6.0,Евро,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118957,131.968481
2,2,6650000,"Владивосток, улица Лесная, 3д",1.0,31.6,5.0,2.0,Отсутствует,Альтернатива,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.183735,131.925201
3,3,11000000,"Владивосток, улица Леонова, 54к",2.0,47.0,3.1,6.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.086209,131.854930
4,4,4900000,"Владивосток, Зелёный Бульвар, улица Зелёный Бу...",1.0,24.1,3.0,16.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118827,131.970732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,5000000,"Владивосток, улица Успенского, 18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.232924,132.012663
116,116,11650000,"Владивосток, улица Басаргина, 6Бк",2.0,54.9,8.0,6.0,Евро,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.075123,131.962042
117,117,6500000,"Владивосток, улица Борисенко, 108",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.092071,131.961957
118,118,7000000,"Владивосток, Светланская улица, 209",2.0,53.7,NaN,4.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,Центральное,NaN,NaN,NaN,NaN,43.112997,131.933747
119,119,7200000,"Владивосток, Фрегат, улица Ватутина, 4в",1.0,39.7,11.7,2.0,Косметический,Свободная продажа,NaN,...,Больше пяти,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
if 'address' in df.columns:
    df.drop(columns=['address'], inplace=True)

if 'Unnamed:0.1' in df.columns:
    df.drop(columns=['Unnamed:0.1'], inplace=True)

if 'Unnamed:0' in df.columns:
    df.drop(columns=['Unnamed:0'], inplace=True)

In [60]:
df.to_csv('data_3.csv')